*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Barlow Condensed';
}

nav{
    background-color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 0 80px;
}

nav .logo{
    float: left;
    font-size: 30px;
    margin: 5px 0;
}

nav a{
    float: right;
    margin: 15px 0;
    padding: 0 5px;
}

section{
    display: flex;
    padding: 50px 120px;
    flex-wrap: wrap;
}

.block_1{
    flex:30%;
    margin: 30px 10px;
    text-align: center;
}

.block_1 h3{
    color: crimson;
    padding-bottom: 15px;
}

.block_1 .btn_cart1{
    padding: 14px 40px;
    border: 1px solid black;
    text-decoration: none;
    transition: 200ms;
}

.block_1 .btn_cart1:hover{
    background-color: rgb(218, 218, 218);
    transition: 200ms;
}